<?xml version="1.0" ?>
<robot name="URDF_DIRECCION_X" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<ros2_control name="DiffDriveSystem" type="system">
  <hardware>
    <plugin>cloud_robot/DiffDriveHW</plugin>

    <param name="left.slp_gpio">22</param>
    <param name="left.dir_gpio">24</param>
    <param name="left.pwm_gpio">12</param>
    <param name="left.rpm_motor">220.0</param>
    <param name="left.gear_ratio">1.73</param>
    <param name="left.max_accel">25.0</param>
    <param name="left.invert_direction">false</param>
    <param name="left.front_enc_a">8</param>
    <param name="left.front_enc_b">7</param>
    <param name="left.rear_enc_a">16</param>
    <param name="left.rear_enc_b">20</param>
    <param name="left.ticks_per_motor_rev">2249</param>

    <param name="right.slp_gpio">23</param>
    <param name="right.dir_gpio">25</param>
    <param name="right.pwm_gpio">13</param>
    <param name="right.rpm_motor">220.0</param>
    <param name="right.gear_ratio">1.73</param>
    <param name="right.max_accel">25.0</param>
    <param name="right.invert_direction">true</param>
    <param name="right.front_enc_a">18</param>
    <param name="right.front_enc_b">10</param>
    <param name="right.rear_enc_a">9</param>
    <param name="right.rear_enc_b">11</param>
    <param name="right.ticks_per_motor_rev">2249</param>
    
  </hardware>

  <!-- Joints -->
  <joint name="Revolucion_1">  <!-- left front wheel -->
    <command_interface name="velocity"/>
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>

  <joint name="Revolucion_2">  <!-- right front wheel -->
    <command_interface name="velocity"/>
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>

  <joint name="Revolucion_3">  <!-- left rear wheel -->
    <command_interface name="velocity"/>
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>

  <joint name="Revolucion_4">  <!--  right rear wheel -->
    <command_interface name="velocity"/>
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>
</ros2_control> 

<ros2_control name="ServoHW" type="system">
  <hardware>
    <plugin>cloud_robot/ServoHW</plugin>
  </hardware>

  <!-- FLIPPERS -->

  <joint name="Revolucion_5">  <!--  left front flipper -->
    <command_interface name="position"/>
    <state_interface name="position"/>
    <param name="channel">0</param>
    <param name="rad_min">-2.35</param>
    <param name="rad_max">2.35</param>
    <param name="us_min">500</param>
    <param name="us_max">2500</param>
    <param name="zero_offset_rad">2.35</param>
    <param name="invert">true</param>
  </joint>

  <joint name="Revolucion_6">  <!--  right front flipper -->
    <command_interface name="position"/>
    <state_interface name="position"/>
    <param name="channel">1</param>
    <param name="rad_min">-2.35</param>
    <param name="rad_max">2.35</param>
    <param name="us_min">500</param>
    <param name="us_max">2500</param>
    <param name="zero_offset_rad">2.35</param>
    <param name="invert">false</param>
  </joint>

  <joint name="Revolucion_7">  <!--  right rear flipper -->
    <command_interface name="position"/>
    <state_interface name="position"/>
    <param name="channel">2</param>
    <param name="rad_min">-2.35</param>
    <param name="rad_max">2.35</param>
    <param name="us_min">500</param>
    <param name="us_max">2500</param>
    <param name="zero_offset_rad">2.35</param>
    <param name="invert">true</param>
  </joint>

  <joint name="Revolucion_8">  <!--  left rear flipper -->
    <command_interface name="position"/>
    <state_interface name="position"/>
    <param name="channel">3</param>
    <param name="rad_min">-2.35</param>
    <param name="rad_max">2.35</param>
    <param name="us_min">500</param>
    <param name="us_max">2500</param>
    <param name="zero_offset_rad">2.35</param>
    <param name="invert">false</param>
  </joint>

  <!-- ARM -->

  <joint name="Revolucion_9">  <!--  base to joint 1 -->
    <command_interface name="position"/>
    <state_interface name="position"/>
    <param name="channel">4</param>
    <param name="rad_min">-2.35</param>
    <param name="rad_max">2.35</param>
    <param name="us_min">500</param>
    <param name="us_max">2500</param>
    <param name="zero_offset_rad">2.35</param>
    <param name="invert">false</param>
  </joint>

  <joint name="Revolucion_10"> <!--  joint 1 to joint bridge 1 -->
    <command_interface name="position"/>
    <state_interface name="position"/>
    <param name="channel">5</param>
    <param name="rad_min">0</param>
    <param name="rad_max">2.70</param>
    <param name="us_min">873</param>
    <param name="us_max">2000</param>
    <param name="zero_offset_rad">0</param>
    <param name="invert">false</param>
  </joint>

  <joint name="Revolucion_11"> <!--  joint 1 to joint bridge 2 -->
    <command_interface name="position"/>
    <state_interface name="position"/>
    <param name="channel">12</param>
    <param name="rad_min">0</param>
    <param name="rad_max">2.70</param>
    <param name="us_min">873</param>
    <param name="us_max">2000</param>
    <param name="zero_offset_rad">0</param>
    <param name="invert">false</param>
  </joint>

  <joint name="Revolucion_12">  <!--  joint bridge 2 to joint 2-->
    <command_interface name="position"/>
    <state_interface name="position"/>
    <param name="channel">6</param>
    <param name="rad_min">0</param>
    <param name="rad_max">3.14</param>
    <param name="us_min">500</param>
    <param name="us_max">1600</param>
    <param name="zero_offset_rad">0</param>
    <param name="invert">false</param>
  </joint>

  <joint name="Revolucion_13"> <!--  joint 2 to  joint 3-->
    <command_interface name="position"/>
    <state_interface name="position"/>
    <param name="channel">8</param>
    <param name="rad_min">-2.35</param>
    <param name="rad_max">2.35</param>
    <param name="us_min">500</param>
    <param name="us_max">2500</param>
    <param name="zero_offset_rad">2.35</param>
    <param name="invert">false</param>
  </joint>

  <joint name="Revolucion_14"> <!--  joint 3 to  joint 4-->
    <command_interface name="position"/>
    <state_interface name="position"/>
    <param name="channel">9</param>
    <param name="rad_min">-2.35</param>
    <param name="rad_max">2.35</param>
    <param name="us_min">500</param>
    <param name="us_max">2500</param>
    <param name="zero_offset_rad">2.35</param>
    <param name="invert">false</param>
  </joint>

  <joint name="Revolucion_15">  <!--  joint 4 to  joint 5-->
    <command_interface name="position"/>
    <state_interface name="position"/>
    <param name="channel">10</param>
    <param name="rad_min">-2.35</param>
    <param name="rad_max">2.35</param>
    <param name="us_min">500</param>
    <param name="us_max">2500</param>
    <param name="zero_offset_rad">2.35</param>
    <param name="invert">false</param>
  </joint>

</ros2_control>

</robot>

